@import './fonts.css';
@import 'tailwindcss';

@theme {
  --font-sans: 'Montserrat', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono: 'JetBrains Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  --default-font-family: var(--font-mono);

  --color-accent: #d34556;

  --animate-loading: loading 1s linear infinite alternate;
  @keyframes loading {
    0% {
      left: 0;
      width: 5%;
    }

    50% {
      left: 30%;
      width: 40%;
    }

    100% {
      left: 95%;
      width: 5%;
    }
  }
}

@layer base {
  body {
    @apply bg-white text-black dark:bg-gray-950 dark:text-white;
  }
}

@layer components {
  .btn-primary {
    @apply inline-flex h-8 cursor-pointer items-center justify-center rounded-2xl border-2 border-accent bg-accent px-2 font-sans font-bold text-nowrap text-white transition-colors hover-smooth dark:text-gray-950;
  }

  .btn-primary:hover {
    @apply bg-white text-black dark:bg-gray-950 dark:text-white;
  }

  .btn-reverse {
    @apply inline-flex h-8 cursor-pointer items-center justify-center rounded-2xl border-2 border-accent bg-white px-2 font-sans font-bold text-nowrap text-black transition-colors hover-smooth dark:bg-gray-950 dark:text-white;
  }

  .btn-reverse:hover {
    @apply bg-accent text-white dark:text-gray-950;
  }

  .btn-primary:disabled,
  .btn-reverse:disabled {
    @apply border-slate-400 bg-white text-slate-400 dark:border-slate-600 dark:bg-gray-950 dark:text-slate-600;
  }
}

@custom-variant dark (&:where(.dark, .dark *));

@utility hover-smooth {
  transition-duration: 200ms;
  transition-timing-function: ease-out;
}
